
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vdocipher.rnbridge">

    <application>
        <activity android:name=".VdoPlayerActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:screenOrientation="sensorLandscape"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>
</manifest>
